.icon-aoa-mini { background-image: url('png/aoa-mini.png'); background-repeat: no-repeat; }

.icon-aoa-solid { background-image: url('png/aoa-solid.png'); background-repeat: no-repeat; }

.icon-arrow-down { background-image: url('png/arrow-down.png'); background-repeat: no-repeat; }

.icon-arrow-left { background-image: url('png/arrow-left.png'); background-repeat: no-repeat; }

.icon-arrow-right { background-image: url('png/arrow-right.png'); background-repeat: no-repeat; }

.icon-arrow-up { background-image: url('png/arrow-up.png'); background-repeat: no-repeat; }

.icon-comment { background-image: url('png/comment.png'); background-repeat: no-repeat; }

.icon-email { background-image: url('png/email.png'); background-repeat: no-repeat; }

.icon-fb { background-image: url('png/fb.png'); background-repeat: no-repeat; }

.icon-g-plus { background-image: url('png/g-plus.png'); background-repeat: no-repeat; }

.icon-icon-aoa-mini { background-image: url('png/icon-aoa-mini.png'); background-repeat: no-repeat; }

.icon-icon-aoa-solid { background-image: url('png/icon-aoa-solid.png'); background-repeat: no-repeat; }

.icon-icon-arrow-down { background-image: url('png/icon-arrow-down.png'); background-repeat: no-repeat; }

.icon-icon-arrow-left { background-image: url('png/icon-arrow-left.png'); background-repeat: no-repeat; }

.icon-icon-arrow-right { background-image: url('png/icon-arrow-right.png'); background-repeat: no-repeat; }

.icon-icon-arrow-up { background-image: url('png/icon-arrow-up.png'); background-repeat: no-repeat; }

.icon-icon-comment { background-image: url('png/icon-comment.png'); background-repeat: no-repeat; }

.icon-icon-email { background-image: url('png/icon-email.png'); background-repeat: no-repeat; }

.icon-icon-fb { background-image: url('png/icon-fb.png'); background-repeat: no-repeat; }

.icon-icon-g-plus { background-image: url('png/icon-g-plus.png'); background-repeat: no-repeat; }

.icon-icon-link { background-image: url('png/icon-link.png'); background-repeat: no-repeat; }

.icon-icon-linked-in { background-image: url('png/icon-linked-in.png'); background-repeat: no-repeat; }

.icon-icon-mag-glass { background-image: url('png/icon-mag-glass.png'); background-repeat: no-repeat; }

.icon-icon-pinterest { background-image: url('png/icon-pinterest.png'); background-repeat: no-repeat; }

.icon-icon-twitter { background-image: url('png/icon-twitter.png'); background-repeat: no-repeat; }

.icon-icon-yt { background-image: url('png/icon-yt.png'); background-repeat: no-repeat; }

.icon-link { background-image: url('png/link.png'); background-repeat: no-repeat; }

.icon-linked-in { background-image: url('png/linked-in.png'); background-repeat: no-repeat; }

.icon-mag-glass { background-image: url('png/mag-glass.png'); background-repeat: no-repeat; }

.icon-pinterest { background-image: url('png/pinterest.png'); background-repeat: no-repeat; }

.icon-twitter { background-image: url('png/twitter.png'); background-repeat: no-repeat; }

.icon-yt { background-image: url('png/yt.png'); background-repeat: no-repeat; }

