doctype html
html
  head
    title Ad test
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    link(href='css/style.css' rel='stylesheet')
    <!--[if lt IE 9]>
    script(src="//html5shim.googlecode.com/svn/trunk/html5.js")
    <![endif]-->
    script(src="js/ehs-head-tag.js")

  

  body

    a(style="font-size:10px;color:#666666;text-decoration:none;font-family:arial;font-weight:normal;" href="http://www.e-healthcaresolutions.com/forms/?did=ehs.pro.aoa.thedo" target="_blank") Advertisement
    script.
      var ehs_width = (window.innerWidth > 0) ? window.innerWidth : screen.width;
      if (ehs_width>767) {
        EHS_AD("t", "r", "300x250");
      } 

    script(src='http://localhost:35729/livereload.js')



    
