doctype html
html
  head
    include head
  body
    div.page#page
      include header

      div.block
        div.ad
          div.ad--wide-shallow
            img(src="img/leader-0.gif" alt='leaderboard')

      div#main.content
        div.block
          section#primary.content__main
            article.story
              header
                figure.image.image--primary
                  picture
                    <!--[if IE 9]>
                    <video style="display: none">
                    <![endif]-->
                    source(srcset="img/caudle-omed.jpg" media="(min-width: 768px)") 
                    source(srcset="img/caudle-omed@.50.jpg" media="(min-width: 480px)") 
                    <!--[if IE 9]>
                    </video>
                    <![endif]-->
                    img(srcset="img/caudle-omed@.33.jpg" alt="Jennifer Caudle, DO").image__img
                  figcaption.image__caption.image__caption--right 
                    | Sed Consectetur Lobortis, LL
                  
                h5.story__kicker Duis Arte
                h1.story__title Media 101: How to position yourself as a medical expert
                h3.story__teaser Do you see yourself as the next Dr. Sanjay Gupta? A seasoned expert shares words of wisdom on working with the media.
                div.story__meta
                  div.meta #[span.meta__byline By] #[span.meta__author Rose Raymond] #[span.meta__date Posted Dec. 14, 2014]

                ul.story__social--top.social
                  li.social__icon: a(href='#'): span.icon-facebook #[span.text-replace Facebook]
                  li.social__icon: a(href='#'): span.icon-twitter #[span.text-replace Twitter]
                  li.social__icon: a(href='#'): span.icon-linkedin #[span.text-replace LinkedIn]
                  li.social__icon: a(href='#'): span.icon-pinterest #[span.text-replace Pinterest]
                  li.social__icon: a(href='#'): span.icon-email #[span.text-replace Email]
                  li.social__icon: a(href='#'): span.icon-comment #[span.text-replace Comments]
            
              div.story__body-text
                p.
                  Curabitur blandit tempus porttitor. Maecenas faucibus mollis interdum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Sed posuere consectetur est at lobortis. Curabitur blandit tempus porttitor. Nullam id dolor id nibh ultricies vehicula ut id elit.
  
                p.
                  Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec sed odio dui. Donec sed odio dui. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
  
                p.
                  Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Sed posuere consectetur est at lobortis. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Maecenas faucibus mollis interdum.
  
                p.
                  Etiam porta sem malesuada magna mollis euismod. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Sed posuere consectetur est at lobortis. Nullam id dolor id nibh ultricies vehicula ut id elit. Nullam quis risus eget urna mollis ornare vel eu leo. Donec sed odio dui.

                p.
                  Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Maecenas faucibus mollis interdum. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec ullamcorper nulla non metus auctor fringilla. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
                  
                h3 Egestas fermentum vehicula
                p.
                  Etiam porta sem malesuada magna mollis euismod. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Donec sed odio dui. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
                  
                aside.pq
                  div.pq__body
                    | Who better to talk about health than everyone sitting in this room?
  
                p.
                  Vestibulum id ligula porta felis euismod semper. Maecenas sed diam eget risus varius blandit sit amet non magna. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Cras mattis consectetur purus sit amet fermentum.
                  
                p.
                  Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nulla vitae elit libero, a pharetra augue.

                figure.image.image--secondary
                  picture
                    <!--[if IE 9]>
                    <video style="display: none">
                    <![endif]-->
                    //-source(srcset="img/caudle-wcau@720.jpg" media="(min-width: 768px") 
                    source(srcset="img/caudle-wcau@720.jpg" media="(min-width: 480px)") 
                    <!--[if IE 9]>
                    </video>
                    <![endif]-->
                    img(srcset="img/caudle-wcau@480.jpg" alt="Jennifer Caudle, DO").image__img
                  figcaption.image__caption.image__caption--left
                    | Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. 
                    | #[a(href="#") (Porta Fusce)]
                  
                p.
                  Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Curabitur blandit tempus porttitor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Nullam id dolor id nibh ultricies vehicula ut id elit.
                  
                p.
                  Nulla vitae elit libero, a pharetra augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id elit non mi porta gravida at eget metus. Aenean lacinia bibendum nulla sed consectetur. Nullam quis risus eget urna mollis ornare vel eu leo. Curabitur blandit tempus porttitor.
                  
                p.
                  Maecenas faucibus mollis interdum. Etiam porta sem malesuada magna mollis euismod. Cras mattis consectetur purus sit amet fermentum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
                  
                p.
                  Aenean lacinia bibendum nulla sed consectetur. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Aenean lacinia bibendum nulla sed consectetur. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas faucibus mollis interdum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
                aside.media
                  div.media__title Related
                  img(src='img/ginory300.jps' alt='So-and-So, DO').media__img
                  div.media__body
                    h3 Want to succeed in DO, MD worlds? A sports psychiatrist shares his story
                          
                p.
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Aenean lacinia bibendum nulla sed consectetur. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
                  
                h3 Consectetur euismod
                p.
                  Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas sed diam eget risus varius blandit sit amet non magna. Donec ullamcorper nulla non metus auctor fringilla. Sed posuere consectetur est at lobortis. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas faucibus mollis interdum.
                            
                p.
                  Nullam id dolor id nibh ultricies vehicula ut id elit. Nullam quis risus eget urna mollis ornare vel eu leo. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas faucibus mollis interdum.
                      
                p.
                  Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam quis risus eget urna mollis ornare vel eu leo. Etiam porta sem malesuada magna mollis euismod. Maecenas faucibus mollis interdum.

              footer.story__footer  
                ul.story__social--bottom.social--inline
                  li.social__icon: a(href='#'): span.icon-facebook #[span.text-replace Facebook]
                  li.social__icon: a(href='#'): span.icon-twitter #[span.text-replace Twitter]
                  li.social__icon: a(href='#'): span.icon-linkedin #[span.text-replace LinkedIn]
                  li.social__icon: a(href='#'): span.icon-pinterest #[span.text-replace Pinterest]


          section#secondary.content__secondary
            div.ad
              div.ad--med-rect
                img(src="img/medium-rect-0.gif" alt='medium-rectangle')
            div.ad
              div.ad--med-rect
                img(src="img/medium-rect-0.gif" alt='medium-rectangle')
      
    script(src='js/jquery.min.js')
    script(src='js/nav.js')
    script(src='http://localhost:35729/livereload.js')
