script(src='js/jquery.min.js')
script(src='js/nav.js')
script(src='js/appendAround.js')
script(src='js/jquery.fitvids.js')
script.
  /* call appendAound */
  $('.rover-don').appendAround();
  $('.rover-peggy').appendAround();
script.
  /* fitvids */
  $(document).ready(function() {
    $('#spotlight').fitVids();
  });
  
script(src='http://localhost:35729/livereload.js')

