doctype html
html
  head
    include head
  body
    include ie8-comment
    include header

    div.content#main
      div.super
        div.super__feature
          img(src="img/super962.jpg").super_img


    include footer
