doctype html
html
  head
    include head
  body
    include ie8-comment
    include header

    div.content#main
      div.super.container
        div.super__image
          figure
            picture
              <!--[if IE 9]>
              <video style="display: none">
              <![endif]-->
              //-source(srcset="img/omed992.png" media="(min-width: 700px)") 
              //-source(srcset="img/primary700.png" media="(min-width: 600px)") 
              //-source(srcset="img/primary600.png" media="(min-width: 480px)") 
              //-source(srcset="img/caudle-omed@.50.jpg" media="(min-width: 410px)") 
              source(srcset="img/nih992.jpg" media="(min-width: 700px)") 
              source(srcset="img/nih700.jpg" media="(min-width: 480px)") 
              //-source(srcset="img/caudle-omed@.50.jpg" media="(min-width: 410px)") 
              <!--[if IE 9]>
              </video>
              <![endif]-->
              //-img(srcset="img/primary480.png" alt="super480").image__img
              img(srcset="img/nih480.jpg" alt="super480").image__img
            figcaption.super__tag Todd M. Wilson, DO 
        div.super__body
          h5.super__kicker Porta Parturient
          span.super__date Dec. 31, 2014
          h1.super__head: a(href="#").featured__link Sociis natoque penatibus et magnis montes, nascetur ridiculus mus                
          p.super__body-text Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Morbi leo risus, porta ac consectetur ac, vestibulum at donec.
      div.featured.container
        div.featured__primary
          article.featured__feature
            figure.featured__image
              img(src="img/2015235.jpg" alt="2015235").image__img
            div.featured__body 
              h5.featured__kicker Commodo Vestibulum Ulum
              span.featured__date Dec. 17, 2015
              h2.featured__head: a(href="#").featured__link New Year's resolutions: 10 life hacks to increase physician productivity
              p.featured__body-text Looking to work more efficiently in the office or at home? These life hacks can help you get started on an ultra-productive 2015.

          article.featured__feature
            figure.featured__image
              img(src="img/hands235.jpg" alt="hands235").image__img
            div.featured__body 
              h5.featured__kicker Ridiculus Fermentum
              span.featured__date Dec. 11, 2015
              h2.featured__head: a(href="#").featured__link End-of-life care: We’re doing it wrong, experts say
              p.featured__body-text As the nation re-evaluates its approach to palliative care, DO geriatricians explain what osteopathic physicians do differently.

          article.featured__feature
            figure.featured__image
              img(src="img/greys235.jpg" alt="greys235").image__img
            div.featured__body 
              h5.featured__kicker Ullamcorper
              span.featured__date Dec. 10, 2015
              h2.featured__head: a(href="#").featured__link 'Grey’s Anatomy' vs. real-life residency: You already know how this turns out
              p.featured__body-text Amanda Kirzner, DO, says real-world residency is nothing like its thrill-a-minute depiction on the hit TV show.

        div.featured__secondary
          aside.ad.ad__med-rect--front
            a(href="#"): img(src="img/medium-rect-0.gif" alt='medium-rectangle')
          aside.ad.ad__med-rect--front
            a(href="#"): img(src="img/medium-rect-0.gif" alt='medium-rectangle')
            

      div.this-is-thirds.container

      div.social-pick

      div.this-is-fourths.container

      div.this-is-thirds.container

      div.this-is-one.container

      div.this-is-fourths.container

    footer

    include footer
