doctype html
html
  head
    include head
  body
    include ie8-comment
    include header

    div.content#main
      div.super.container
        div.super__image
          figure
            picture
              <!--[if IE 9]>
              <video style="display: none">
              <![endif]-->
              //-source(srcset="img/omed992.png" media="(min-width: 700px)") 
              //-source(srcset="img/primary700.png" media="(min-width: 600px)") 
              //-source(srcset="img/primary600.png" media="(min-width: 480px)") 
              //-source(srcset="img/caudle-omed@.50.jpg" media="(min-width: 410px)") 
              source(srcset="img/nih992.jpg" media="(min-width: 700px)") 
              source(srcset="img/nih700.jpg" media="(min-width: 480px)") 
              //-source(srcset="img/caudle-omed@.50.jpg" media="(min-width: 410px)") 
              <!--[if IE 9]>
              </video>
              <![endif]-->
              //-img(srcset="img/primary480.png" alt="super480").image__img
              img(srcset="img/nih480.jpg" alt="super480").image__img
            figcaption.super__tag Todd M. Wilson, DO 
        div.super__body
          h5.super__kicker Porta Parturient
          span.super__date Dec. 31, 2014
          h1.super__head: a(href="#").featured__link Sociis natoque penatibus et magnis montes, nascetur ridiculus mus                
          p.super__body-text Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Morbi leo risus, porta ac consectetur ac, vestibulum at donec.

      div.featured.container
        div.featured__primary
          article.featured__item
            figure.featured__image
              img(src="img/2015235.jpg" alt="2015235").image__img
            div.featured__body 
              h5.featured__kicker Commodo Ulum
              span.featured__date Dec. 17, 2015
              h2.featured__head: a(href="#").featured__link New Year's resolutions: 10 life hacks to increase physician productivity
              p.featured__body-text Looking to work more efficiently in the office or at home? These life hacks can help you get started on an ultra-productive 2015.

          article.featured__item
            figure.featured__image
              img(src="img/hands235.jpg" alt="hands235").image__img
            div.featured__body 
              h5.featured__kicker Ridiculus Fermentum
              span.featured__date Dec. 11, 2015
              h2.featured__head: a(href="#").featured__link End-of-life care: We’re doing it wrong, experts say
              p.featured__body-text As the nation re-evaluates its approach to palliative care, DO geriatricians explain what osteopathic physicians do differently.

          article.featured__item
            figure.featured__image
              img(src="img/greys235.jpg" alt="greys235").image__img
            div.featured__body 
              h5.featured__kicker Ullamcorper
              span.featured__date Dec. 10, 2015
              h2.featured__head: a(href="#").featured__link 'Grey’s Anatomy' vs. real-life residency: You already know how this turns out
              p.featured__body-text Amanda Kirzner, DO, says real-world residency is nothing like its thrill-a-minute depiction on the hit TV show.

        //-div.featured__secondary
        div.rail--front-page
          aside.ad.ad__med-rect--front
            a(href="#"): img(src="img/medium-rect-0.gif" alt='medium-rectangle')
          aside.ad.ad__med-rect--front
            a(href="#"): img(src="img/medium-rect-0.gif" alt='medium-rectangle')

      div.container
        div.widget__title--section More stories #[span.widget__title--muted All stories #[span.icon-arrow-right]]
        div.f-row.f-row--thirds
          article.f-item--thirds.f-item--thirds__1-3
            figure.f-item__image
              img(src="img/prison160.jpg" alt="prison160").image__img
            div.f-item__body
              h5.f-item__kicker Sit Condimentum
              span.f-item__date Dec. 10, 2015
              h2.f-item__head: a(href="#").f-item__link Correctional medicine is on the cutting edge of public health, DO says
              p.f-item__body-text Physicians who work with inmates treat the most underserved segment of the population, says John Mills, DO, MPH.        

          article.f-item--thirds.f-item--thirds__2-3
            figure.f-item__image
              img(src="img/traumatized160.jpg" alt="traumatized160").image__img
            div.f-item__body
              h5.f-item__kicker Amet
              span.f-item__date Dec. 6, 2015
              h2.f-item__head: a(href="#").f-item__link Working with abused children: A crash course
              p.f-item__body-text While some DOs question the nation’s readiness to tackle Ebola, others say they aren’t worried about the virus.

          article.f-item--thirds.f-item--thirds__3-3
            figure.f-item__image
              img(src="img/aguwa160.jpg" alt="aguwa160").image__img
            div.f-item__body
              h5.f-item__kicker Malesuada Porta
              span.f-item__date Dec. 1, 2015
              h2.f-item__head: a(href="#").f-item__link Hero Next Door: DO ‘pays it forward’ by mentoring hundreds of students
              p.f-item__body-text Nigerian-born Margaret Aguwa, DO, MPH, is best known for founding OsteoCHAMPS, a pipeline program for Michigan high school youth.        

      div.social-pick

      div.container
        div.widget__title--section Risus cursus
        div.f-row.f-row--fourths
          article.f-item--fourths.f-item--fourths__1-4
            figure.f-item__image
              img(src="img/sports160.jpg" alt="sports160").image__img
            div.f-item__body
              h5.f-item__kicker Venenatis Cras
              span.f-item__date Jan. 6, 2015
              h2.f-item__head: a(href="#").f-item__link Prevent overuse injuries in child athletes: Info for family physicians
              p.f-item__body-text Learn why overuse injuries are on the rise in children, what to watch for and when to refer patients to sports medicine physicians.

          article.f-item--fourths.f-item--fourths__2-4
            figure.f-item__image
              img(src="img/students160.jpg" alt="students160").image__img
            div.f-item__body
              h5.f-item__kicker Vulputate
              span.f-item__date Jan. 6, 2015
              h2.f-item__head: a(href="#").f-item__link Hero Next Door: DO historian champions profession’s female-friendly past
              p.f-item__body-text Educator Thomas Quinn, DO, wrote a book on women in osteopathic medicine that a Florida PBS station will convert to a documentary.

          article.f-item--fourths.f-item--fourths__3-4
            figure.f-item__image
              img(src="img/inmem160.jpg" alt="aguwa160").image__img
            div.f-item__body
              h5.f-item__kicker Risus
              span.f-item__date Dec. 19, 2014
              h2.f-item__head: a(href="#").f-item__link In Memoriam: Dec. 19, 2014
              p.f-item__body-text View the names of recently deceased osteopathic physicians.

          article.f-item--fourths.f-item--fourths__4-4
            figure.f-item__image
              img(src="img/baron160.jpg" alt="baron160").image__img
            div.f-item__body
              h5.f-item__kicker Venenatis Ornare Ridiculus
              span.f-item__date Dec. 4, 2014
              h2.f-item__head: a(href="#").f-item__link Want to succeed in DO, MD worlds? A sports psychiatrist shares his story
              p.f-item__body-text David Baron, DO, rose to prominence in the MD realm while retaining—and celebrating—his osteopathic heritage. Here’s what he did.

      div.this-is-thirds.container

      div.this-is-one.container

      div.this-is-fourths.container

    footer

    include footer
