doctype html
html
  head
    include head
  body
    include ie8-comment
    include header
  
    div.content#main
      div.row--bleed-xl.no-m-b
        div.size-1-of-1
          div.super
            a(href="#"): figure.super__figure
                picture
                  <!--[if IE 9]>
                  <video style="display: none">
                  <![endif]-->
                  //-source(srcset="img/omed992.png" media="(min-width: 700px)") 
                  //-source(srcset="img/primary700.png" media="(min-width: 600px)") 
                  //-source(srcset="img/primary600.png" media="(min-width: 480px)") 
                  //-source(srcset="img/caudle-omed@.50.jpg" media="(min-width: 410px)") 
                  source(srcset="img/nih992.jpg" media="(min-width: 700px)") 
                  source(srcset="img/nih700.jpg" media="(min-width: 480px)") 
                  //-source(srcset="img/caudle-omed@.50.jpg" media="(min-width: 410px)") 
                  <!--[if IE 9]>
                  </video>
                  <![endif]-->
                  //-img(srcset="img/primary480.png" alt="super480").image__img
                  img(srcset="img/nih480.jpg" alt="super480").image__img
                figcaption.super__tag Todd M. Wilson, DO 
            div.super__body
              h5.super__kicker Porta Parturient
              span.super__date Jan. 21, 2015
              h1.super__head: a(href="#").super__link DOs at the NIH make discoveries across the medical spectrum                
              p.super__body-text Within the largest biomedical research center in the world, DOs work to uncover information that can change medicine.
 

      div.row
        div.size-2-of-3.module
          article.f-item--major
            figure.f-item__fig--major
              a(href="#"): img(src="img/2015235.jpg" alt="2015235").image__img
            div.f-item__body--major 
              h5.f-item__kicker--major Commodo Ulum
              span.f-item__date--major Dec. 17, 2015
              h2.f-item__head--major: a(href="#").f-item__link New Year's resolutions: 10 life hacks to increase physician productivity
              p.f-item__body-text--major Looking to work more efficiently in the office or at home? These life hacks can help you get started on an ultra-productive 2015.

          article.f-item--major
            figure.f-item__fig--major
              a(href="#"): img(src="img/hands235.jpg" alt="hands235").image__img
            div.f-item__body--major 
              h5.f-item__kicker--major Ridiculus Fermentum
              span.f-item__date--major Dec. 11, 2015
              h2.f-item__head--major: a(href="#").f-item__link End-of-life care: We’re doing it wrong, experts say
              p.f-item__body-text--major As the nation re-evaluates its approach to palliative care, DO geriatricians explain what osteopathic physicians do differently.

          article.f-item--major
            figure.f-item__fig--major
              a(href="#"): img(src="img/greys235.jpg" alt="greys235").image__img
            div.f-item__body--major 
              h5.f-item__kicker--major Ullamcorper
              span.f-item__date--major Dec. 10, 2015
              h2.f-item__head--major: a(href="#").f-item__link 'Grey’s Anatomy' vs. real-life residency: You already know how this turns out
              p.f-item__body-text--major Amanda Kirzner, DO, says real-world residency is nothing like its thrill-a-minute depiction on the hit TV show.

          // this is don's natural home
          aside(data-set="rover-don-parent").ad.ad__med-rect--front.rover-don-parent-f-a
            div.rover-don
              a(href="#"): img(src="img/medium-rect-0.gif" alt='medium-rectangle')
              //-a(href="http://www.e-healthcaresolutions.com/forms/?did=ehs.pro.aoa.jaoatest" target="_blank")
                //-script.
                  //-EHS_AD("t", "r", "300x250");
          //-div.featured__secondary

          //-div.ad__group--front
          //-div.row--center
          aside(data-set="rover-don-parent").ad.ad__med-rect--front.rover-don-parent-f-b
          aside(data-set="rover-peggy-parent").ad.ad__med-rect--front.rover-peggy-parent-f-b

        div.size-1-of-3--last
          aside(data-set="rover-don-parent").ad.ad__med-rect--front.rover-don-parent-f-c
          aside(data-set="rover-peggy-parent").ad.ad__med-rect--front.rover-peggy-parent-f-c

      //-div.row--bleed
      div.row
        div.size-1-of-1
          div.section-title-hat
            #[span.section-title-hat__text More Stories] #[span.section-title--muted All stories #[span.icon-arrow-right]]
            //-div.section-title__border

      div.row.module
        div.unit.size-1-of-4.f-item
          article
            figure.f-item__fig
              a(href="#"): img(src="img/students160.jpg" alt="students160").image__img
            div.f-item__body
              h5.f-item__kicker Women's History
              span.f-item__date Jan. 6, 2015
              h2.f-item__head: a(href="#").f-item__link Hero Next Door: DO historian champions profession’s female-friendly past
              p.f-item__body-text Educator Thomas Quinn, DO, wrote a book on women in osteopathic medicine that a Florida PBS station will convert to a documentary.

        div.unit.size-1-of-4.f-item.border-2-of-4
          article
            figure.f-item__fig
              a(href="#"): img(src="img/inmem160.jpg" alt="aguwa160").image__img
            div.f-item__body
              h5.f-item__kicker Risus
              span.f-item__date Dec. 19, 2014
              h2.f-item__head: a(href="#").f-item__link In Memoriam: Dec. 19, 2014
              p.f-item__body-text View the names of recently deceased osteopathic physicians.

        div.unit.size-1-of-4.f-item.border.border-3-of-4
          div.sticker
            img(src="img/dictation-color.svg" alt='Handheld dictation recorder').sticker__img
            //-img(src="img/dictation.svg" alt='Handheld dictation recorder').sticker__img
            div.sticker__body
              h5.sticker__date Posted Jan. 14, 2015
              h2.sticker__head: a(href="#").sticker__link Life hacks for physicians
              p.sticker__body-text: a(href="#").sticker__link &ldquo;Using dictation software has been a big game-changer for me.&rdquo;
              //-p.sticker__body-text &ldquo;Donec id elit non mi porta gravida at eget metus. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur.&rdquo;
              p.sticker__attrib Robert T. Hasty, DO
           
            
        div.unit.size-1-of-4.f-item.border.border-4-of-4
          article
            figure.f-item__fig
              a(href="#"): img(src="img/sports160.jpg" alt="sports160").image__img
            div.f-item__body
              h5.f-item__kicker Venenatis Cras
              span.f-item__date Jan. 6, 2015
              h2.f-item__head: a(href="#").f-item__link Prevent overuse injuries in child athletes: Info for family physicians
              p.f-item__body-text Learn why overuse injuries are on the rise in children, what to watch for and when to refer patients to sports medicine physicians.
    
      //-div.row--bleed.no-m-b
      //-div.row.no-m-b
        //-div.size-1-of-1
          //-div.section-title-hat #[span.section-title-hat__text Purus Dolor] #[span.section-title--muted Follow us #[a(href="#") #[span.icon-facebook]] #[a(href="#") #[span.icon-twitter]] #[a(href="#") #[span.icon-linkedin]] #[a(href="#") #[span.icon-pinterest]]]
            //-div.section-title__border

      div.row
        div.size-1-of-1.social-pick-red.module

          div.social-pick-red__date Jan. 15 on Twitter
          div.social-pick-red__body
            div.social-pick-red__img: img(src='img/minoritydoctor-bigger.jpg').image__img
            p.social-pick-red__body-text
              //-| Praesent commodo cursus magna, vel scelerisque nisl consectetur etsed posuere consectetur est at lobortis. Lorem ipsum #[a(href="#").social-pick-red__link #medschoolproblems]
              //-| Praesent commodo cursus magna, vel scelerisque nisl consectetur etsed posuere 
              | Done with all my exams for this week, so now I finally have time to study for next week's big exam :-/ #[a(href="#").social-pick-red__link #medschoolproblems]
            //-div.social-pick-red__author #[a(href='#').social-pick-red__link @DrVulputatePoPox]
            div.social-pick-red__author #[a(href='#').social-pick-red__link @minoritydoctor]
            //-div.social-pick-red__author #[a(href='#').social-pick-red__link @TheDOmezzanine]

          div.social-pick-red__note 
            p Follow us 
            ul.social  
              li.social__icon: a(href='https://www.facebook.com/americanosteopathicassociation').social__link: span.icon-facebook #[span.text-replace Facebook]
              li.social__icon: a(href='https://twitter.com/TheDOmagazine').social__link: span.icon-twitter #[span.text-replace Twitter]
              li.social__icon: a(href='https://www.linkedin.com/groups/American-Osteopathic-Association-76192').social__link: span.icon-linkedin #[span.text-replace LinkedIn]
              li.social__icon: a(href='http://www.pinterest.com/AOAHealth/').social__link: span.icon-pinterest #[span.text-replace Pinterest]
              //-| Follow us #[span.social-pick-red__icons #[a(href="#").social-pick-red__link #[span.icon-facebook]] #[a(href="#").social-pick-red__link #[span.icon-twitter]] #[a(href="#").social-pick-red__link #[span.icon-linkedin]] #[a(href="#").social-pick-red__link #[span.icon-pinterest]]]

      //-div.row--bleed
      //-div.row
        //-div.size-1-of-1
          //-div.section-title Risus Cursus
            //-div.section-title__border

      //-div.row
        //-div.unit.size-1-of-3.f-item
          //-article
            //-figure.f-item__fig
              //-a(href="#"): img(src="img/prison160.jpg" alt="prison160").image__img
            //-div.f-item__body
              //-h5.f-item__kicker Sit Condimentum
              //-span.f-item__date Dec. 10, 2015
              //-h2.f-item__head: a(href="#").f-item__link Correctional medicine is on the cutting edge of public health, DO says
              //-p.f-item__body-text Physicians who work with inmates treat the most underserved segment of the population, says John Mills, DO, MPH.        

        //-div.unit.size-1-of-3.f-item.border-2-of-3
          //-article
            //-figure.f-item__fig
              //-a(href="#"): img(src="img/traumatized160.jpg" alt="traumatized160").image__img
            //-div.f-item__body
              //-h5.f-item__kicker Amet
              //-span.f-item__date Dec. 6, 2015
              //-h2.f-item__head: a(href="#").f-item__link Working with abused children: A crash course
              //-p.f-item__body-text While some DOs question the nation’s readiness to tackle Ebola, others say they aren’t worried about the virus.

        //-div.unit.size-1-of-3.f-item.border-3-of-3
          //-article
            //-figure.f-item__fig
              //-a(href="#"): img(src="img/aguwa160.jpg" alt="aguwa160").image__img
            //-div.f-item__body
              //-h5.f-item__kicker Malesuada Porta
              //-span.f-item__date Dec. 1, 2015
              //-h2.f-item__head: a(href="#").f-item__link Hero Next Door: DO ‘pays it forward’ by mentoring hundreds of students
              //-p.f-item__body-text Nigerian-born Margaret Aguwa, DO, MPH, is best known for founding OsteoCHAMPS, a pipeline program for Michigan high school youth.        

      //-div.row--bleed
      div.row
        //-div.size-2-of-3
        div.size-1-of-1
          div.section-title-hat #[span.section-title-hat__text Spotlight]

      div.row
        div.unit.size-1-of-1.module
          div.spotlight#spotlight
            div.spotlight__feature-wrapper
              iframe(width="655" height="400" src="//www.youtube.com/embed/SbTcdzb1HR0?color=white&autohide=1&modestbranding=1" frameborder="0" allowfullscreen )

            div.spotlight__body
              h5.spotlight__kicker Egestas Purus
              //-span.spotlight__date Jan. 13, 2015
              h2.spotlight__head Oras justo odio, dapibus ac facilisis in, egestas eget quam.
              p.spotlight__body-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam porta sem malesuada magna mollis euismod.
                
            //-figure
              //-img(src="img/spotlight-placeholder.svg" alt="spotlight-placeholder").image__img
              //-svg(width="655" height='437').svg-placeholder
                //-rect(width='655' height='437' fill='aliceblue' style='transform: translateY(-2em);')
      div.row
        div.size-1-of-3.module
          div.section-title-hat #[span.section-title-hat__text Most read]
          aside.widget--counter.widget--front
            ol.widget__list--counter
              li.widget-f__list-item--counter: a(href='#').widget__link New Year's resolutions: 10 life hacks to increase physician productivity
              li.widget-f__list-item--counter: a(href='#').widget__link 'Grey's Anatomy' vs. real-life residency: You already know how this turns out
              li.widget-f__list-item--counter: a(href='#').widget__link Anesthesiology’s allure: High pay, flexibility, intellectual stimulation
              li.widget-f__list-item--counter: a(href='#').widget__link How I survived the first 2 years of medical school
              li.widget-f__list-item--counter: a(href='#').widget__link Making the cut: How to specialize in general surgery
        
        div.size-2-of-3--last.inside-the-aoa.module
          div.section-title-hat #[span.section-title-hat__text Inside the AOA]
          article.f-item--minor
            figure.f-item__fig--minor
              a(href="#"): img(src="img/insideaoa1bw@160.jpg" width='90' height='60').image__img
            div.f-item__body--minor
              //-span.f-item__date--minor Dec. 17, 2015
              h2.f-item__head--minor: a(href="#").f-item__link New CMS Medicare Enrollment Guidelines Target Debt, Fraud
              p.f-item__body-text--minor Physicians with unpaid Medicare debts, can be denied Medicare reenrollment under new CMS guidelines.

          article.f-item--minor
            figure.f-item__fig--minor
              a(href="#"): img(src="img/insideaoa2bw@160.jpg" width='90' height='60').image__img
            div.f-item__body--minor
              //-span.f-item__date--minor Dec. 17, 2015
              h2.f-item__head--minor: a(href="#").f-item__link Physician payment reform update
              p.f-item__body-text--minor It's not likely that legislation will be enacted into law before the 113th Congress adjourns.

          article.f-item--minor
            figure.f-item__fig--minor
              a(href="#"): img(src="img/insideaoa3bw@160.jpg" width='90' height='60').image__img
            div.f-item__body--minor
              //-span.f-item__date--minor Dec. 17, 2015
              h2.f-item__head--minor: a(href="#").f-item__link Participating in OCC and the PQRS? This incentive's for you
              p.f-item__body-text--minor Taking part in OCC and Physician Quality Reporting System could earn you an extra 0.5% incentive payment.

          article.f-item--minor
            figure.f-item__fig--minor
              a(href="#"): img(src="img/insideaoa4bw@160.jpg" width='90' height='60').image__img
            div.f-item__body--minor
              //-span.f-item__date--minor Dec. 17, 2015
              h2.f-item__head--minor: a(href="#").f-item__link Donec id elit non mi porta gravida at eget metus
              p.f-item__body-text--minor Maecenas faucibus mollis interdum. Etiam porta sem malesuada magna mollis euismod.
            
      aside(data-set="rover-peggy-parent").ad.ad__med-rect--front.rover-peggy-parent-f-a
        div.rover-peggy
          a(href="#"): img(src="img/medium-rect-0.gif" alt='medium-rectangle')
          //-a(href="http://www.e-healthcaresolutions.com/forms/?did=ehs.pro.aoa.jaoatest" target="_blank")
            //-script.
              //-EHS_AD("t", "r", "300x250");

      div.row
        div.size-1-of-1
          div.section-title-hat #[span.section-title-hat__text Also on Osteopathic.org]

      div.row.module
        div.unit--no-space.size-1-of-4.f-item
          article
            figure.f-item__fig
              a(href="#"): img(src="img/do-day160.png" alt="doday160").image__img
            div.f-item__body
              //-h5.f-item__kicker Sit Condimentum
              h2.f-item__head: a(href="#").f-item__link CME credit available for DO Day on Capitol Hill
              p.f-item__body-text Join your colleagues for an exciting opportunity to to communicate our osteopathic perspective on important health issues.

        div.unit--no-space.size-1-of-4.f-item.border-2-of-4
          article
            figure.f-item__fig
              a(href="#"): img(src="img/medstudent160.jpg" alt="medstudent160").image__img
            div.f-item__body
              //-h5.f-item__kicker Amet
              h2.f-item__head: a(href="#").f-item__link OMS III resources
              p.f-item__body-text Make studying, doing well on your rotations, and passing your exams your priority, second only to taking good care of your health and well-being.

        div.unit--no-space.size-1-of-4.f-item.border-3-of-4
          article
            figure.f-item__fig
              a(href="#"): img(src="img/hod-medals160.jpg" alt="HOD medals").image__img
            div.f-item__body
              //-h5.f-item__kicker Malesuada Porta
              h2.f-item__head: a(href="#").f-item__link Nominate a Guardian of the Profession
              p.f-item__body-text Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.

        div.unit--no-space.size-1-of-4.f-item.border-4-of-4
          article
            figure.f-item__fig
              a(href="#"): img(src="img/jaoa160.jpg" alt="jaoa160").image__img
            div.f-item__body
              //-h5.f-item__kicker Consectetur Commodo
              h2.f-item__head: a(href="#").f-item__link History of the AOA
              p.f-item__body-text A group of students founded the AOA in 1897.

      div.row
        div.size-1-of-1.cta
          h3.cta__head Subscribe to The DO
          p.cta__body-text.
            Donec sed odio dui. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. 
          form(action="#" method="post" novalidate).frm.cta__form
            input(name="email-signup-robotic" type="text" size="30")#email-signup-robotic.frm__input--robo
            input(name="email-signup" type="email" size="30" placeholder='Email address')#email-signup.cta__input
            input(type="submit" value="Subscribe").btn.cta__btn

      aside(data-set="rover-peggy-parent").ad.ad__med-rect--front.rover-peggy-parent-f-a

    footer

    include footer
