header(role="banner").banner#banner
  section.site-branding
    div.site-branding--alpha: a(href='/').site-branding__link Elit Ornare
    div.site-branding--beta: a(href='http://www.osteopathic.org' title='American Osteopathic Association')
        span.icon-aoa-solid
  
  section.site-navigation
    a(href="#site-nav").nav__link--toggle
      span.icon-menu
    nav(role='navigation')#site-nav.nav
      ul.nav__list
        li.nav__item: a(href='#').nav__item--link Patient Care
        li.nav__item: a(href='#').nav__item--link Innovation
        li.nav__item: a(href='#').nav__item--link Training
        li.nav__item: a(href='#').nav__item--link Profession
        li.nav__item: a(href='#').nav__item--link Policy
        li.nav__item: a(href='#').nav__item--link Lifestyle
        li.nav__item.nav__item--last
          section.site-search
            form(action="/search")#search-form.site-search__form
              label#search-label.site-search__label(for='q')
              button(type='submit').site-search__button
                span.icon-glass
              input(type='text' name='q' placeholder='Enter search terms')#q.site-search__input
