aside.story__related
  div.media
    div.media__title Related
    img(src='img/ginory300.jpg' alt='So-and-So, DO' width='140px').media__img
    div.media__body
      h3.media__head: a(href='#').media__link Want to succeed in DO, MD worlds? A sports psychiatrist shares his story
