aside.widget.widget--latest
  h2.widget__title Latest stories
  ul.widget__list
    li.widget__list-item
      span.widget__feature: img(src='img/truvada160.jpg' width="80" height="107")
      h5.widget__head: a(href="#").widget__link What physicians need to know about the new drug to prevent HIV
    li.widget__list-item
      span.widget__feature: img(src='img/prison160.jpg' width="80" height="107")
      h5.widget__head: a(href="#").widget__link Correctional medicine is on the cutting edge of public health, DO says
    li.widget__list-item
      span.widget__feature: img(src='img/aguwa160.jpg' width="80" height="107")
      h5.widget__head: a(href="#").widget__link Hero Next Door: DO ‘pays it forward’ by mentoring hundreds of students
    li.widget__list-item
      span.widget__feature: img(src='img/hpv160.jpg' width="80" height="107")
      h5.widget__head: a(href="#").widget__link How to prescribe yoga for overuse injuries
    li.widget__list-item
      span.widget__feature: img(src='img/smith160.jpg' width="80" height="107")
      h5.widget__head: a(href="#").widget__link 'This could happen to you': Lessons learned from explosion in West, Texas
