%ad-pos {
  margin: .5em auto;
}

.ad {
  /*@include container();*/

  &--wide-shallow {
    @extend %ad-pos;
    width: 728px;

    @include breakpoint($medium-start) {
      /*width: 728px;*/
    }
  }

  &--med-rect {
    @extend %ad-pos;
    width: 300px;
  }

  &:before {
    color: $gray;
    content: "Advertisement";
    margin: 1em auto;
    width: 12em;
    display: block;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: .5em;
    letter-spacing: .25em;
    text-align: center;
  }

  &:after {
    content: '';
    width: 100%;
    display: block;
    border-bottom: 1px solid $lightgray;
  }

}
