.content {

  @include breakpoint($screen $large-minor-start) {
    @include container($gridpage);
  }

  /*padding-right: $outside-gutter-small;*/
  /*padding-left: $outside-gutter-small;*/
  /*margin-top: 1em;*/

  
  // CONVENIENCE
  // this is just so there's a bar in chrome
  // dev tools mobile view that corresponds
  // to a width of 320px
  // *take this out at some point*
  @include breakpoint($screen $small-start) {
    padding-top: 0;
    /*padding-right: $outside-gutter-small;*/
    padding-right: 0;
    padding-bottom: 0;
    /*padding-left: $outside-gutter-small;*/
    padding-left: 0;
  }
  
  &__primary {
    @include breakpoint($screen $xlarge-start) {
      @include span(8 of $gridpage);
    }
  }

  &__secondary {
    @include breakpoint($screen $xlarge-start) {
      @include span(30% last of $gridpage);
    }
  }

}

