// call to action

.cta {

  border-top: 1px solid $lightgray;

  &__form {
    margin: 0 auto;

    @include breakpoint($screen $medium-minor-start) {
      width: 80%;
    }

    @include breakpoint($screen $large-start) {
      width: 80%;
    }

    @include breakpoint($screen $leaderboard-start) {
      width: 50%;
    }
  }

  &__head {
    margin-bottom: .5em;
    font-weight: 200;
    
  }

  &__body-text {
    @extend %body-text-base;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    color: $font-color-lighter;

    @include breakpoint($screen $large-start) {
      /*margin-bottom: 1em;*/
      width: 80%;
    }
  }

  &__input {
    width: 100%;

    &--pot {
      display: none; 
    }
    
    @include breakpoint($screen $medium-start) {
      width: 75%;
      float: left;
    }
  }

  &__btn {
    width: 100%;
    background: $gray;
    border-color: $gray;
    color: $white;

    @include breakpoint($screen $medium-start) {
      float: left;
      width: 25%;
      border-radius: 0 4px 4px 0;
    }
  }

  

}
