%featured-base {
  @include clearfix;
  width: 94%;
  @extend %center;
}

%feature-base {
  position: relative;
  margin-bottom: 1em;
}

%feature-image-base {
  position: relative;
  /*top: 1.6875em;*/
  top: .1875em;
  right: 0;
  margin-left: .5em;
  float: right;
  max-width: 6.25em;
  display: inline-block;

  @include breakpoint($screen $medium-minor-start) {
    /*position: static;*/
    margin-left: 0;
    margin-right: .5em;
    float: left;
    /*top: 1.6875em;*/
  }
}

.featured {

  @include breakpoint($screen $big-menu-start) {
    margin-top: 1em;
  }

  &__feature {
    @extend %feature-base;
    border-bottom: 1px solid $mediumgray;
  }

  &__primary {
    @extend %featured-base;

    @include breakpoint($screen $xlarge-start) {
      @include span(8 of $gridpage);
    }
  }

  &__secondary {
    /*@extend .featured__primary;*/
    @extend %featured-base;
    position: relative;
    
    @include breakpoint($screen $xlarge-start) {
      width: inherit;
    }
  }

  &__feature--secondary {
    /*&:not(:first-child):not(:last-child) {*/

//    @include breakpoint($screen $large-start) {
//      // make our vertical rule betweetn items
//      &:not(:first-child) {
//        &:before {
//          content: '';
//          position: absolute;
//          top: 0;
//          bottom: 0;
//          z-index: -1;
//          width: span(4 of $gridpage);
//          left: span(4 of $gridpage);
//          border-left: 12px solid fuchsia;
//          background: #fff;
//        }
//      }
//    }



    @include breakpoint($screen $large-start) {
      @include span(4 of $gridpage);
      padding: 1em;
      text-align: center;

      &:last-child {
        @include span(4 last of $gridpage);
      }

    }
  }

  &__image {
    @extend %feature-image-base;


    @include breakpoint($screen $large-start) {
      /*width: 35%;*/
      /*float: left;*/
      /*@include span(35%);*/
      /*@include span(3 of 8);*/
      max-width: inherit;
      /*position: static;*/
    }
  }

  &__image--secondary {
    @extend %feature-image-base;
    

    @include breakpoint($screen $large-start) {
      /*width: 35%;*/
      float: none;
      /*@include span(35%);*/
      /*@include span(3 of 8);*/
      max-width: inherit;
      /*position: static;*/
    }
  }

  &__body {
    @include breakpoint($screen $large-start) {
      /*width: 65%;*/
      /*@include span(65% last);*/
      /*@include span(5 last of 8);*/
      margin-left: 15.890625em;
    }
  }

  &__body--secondary {
    /*clear: both;*/
    /*@extend .featured__body;*/
  }

  &__head {
    margin-top: 0;
    margin-bottom: .25em;
    /*margin-left: 6.1em;*/
    margin-left: 0;
    font-size: 1.1em;
    line-height: 1.4;
    font-weight: 100;
    font-family: $secondaryfont;

    @include breakpoint($screen $medium-minor-start) {
      /*margin-left: 0;*/
            
    }

    @include breakpoint($screen $large-start) {
      font-size: 1.25em;
      line-height: 1.5;
      
    }
  }

  &__head--secondary {
    @extend .featured__head;
  }

  &__link {
    color: inherit;
  }

  &__body-text {
    /*margin-left: 6.75em;*/
    margin-left: 0;
    font-size: 1em;
    line-height: 1.3;

    @include breakpoint($screen $medium-minor-start) {
      
    }

    @include breakpoint($screen $large-start) {
      margin-left: 0;
      font-size: 1.125em;
      line-height: 1.4;
      font-weight: 400;
    }
  }

  &__body-text--secondary {
     @extend .featured__body-text;
    
  }

  &__date {
    display: block;
    font-size: .875em;
    color: $font-color-lighter;

    @include breakpoint($screen $medium-minor-start) {
      display: inline-block;
    }
  }

  &__date--secondary {
    @extend .featured__date;
  }

  &__kicker {
    display: block;
    margin-top: 0;
    margin-right: .25em;
    margin-bottom: .5em;
    letter-spacing: .1em;
    font-size: .875em;
    text-transform: uppercase;
    line-height: 1.3;
    color: $primarycolor;

    @include breakpoint($screen $medium-minor-start) {
      display: inline-block;
      line-height: 1;
    }
  }
      
  &__kicker--secondary {
    @extend .featured__kicker;
  }
}



