%featured-base {
  @include clearfix;
  width: 94%;
  @extend %center;
}

%item-base {
  margin-bottom: 1em;
}

%border-bottom {
  border-bottom: 1px solid $mediumgray;
}

.featured {

  @include breakpoint($screen $big-menu-start) {
    margin-top: 1em;
  }

  @include breakpoint($screen $xlarge-start) {
    margin-top: 1.5em;
  }

  &__item {
    position: relative;
    @extend %item-base;

    &:not(:last-child) {
      @extend %border-bottom;
    }

    @include breakpoint($screen $large-start) {
      padding-bottom: 1em;
    }

    @include breakpoint($screen $xlarge-start) {
      margin-bottom: 1.5em;
      padding-bottom: 1.5em;
    }
  }

  &__primary {
    @extend %featured-base;

    @include breakpoint($screen $xlarge-start) {
      @include span(8 of $gridpage);
    }
  }

  &__image {
    @extend %f-image-base;


    @include breakpoint($screen $large-start) {
      /*width: 35%;*/
      /*float: left;*/
      /*@include span(35%);*/
      /*@include span(3 of 8);*/
      max-width: inherit;
      /*position: static;*/
    }
  }

  &__body {
    @include breakpoint($screen $large-start) {
      /*width: 65%;*/
      /*@include span(65% last);*/
      /*@include span(5 last of 8);*/
      margin-left: 15.890625em;
    }
  }

  &__head {
    margin-top: 0;
    margin-bottom: .25em;
    /*margin-left: 6.1em;*/
    margin-left: 0;
    font-size: 1.1em;
    line-height: 1.4;
    font-weight: 100;
    font-family: $secondaryfont;
    color: $font-color;

    @include breakpoint($screen $medium-minor-start) {
      /*margin-left: 0;*/
            
    }

    @include breakpoint($screen $large-start) {
      font-size: 1.25em;
      line-height: 1.5;
      
    }
  }

  &__link {
    color: inherit;
  }

  &__body-text {
    /*margin-left: 6.75em;*/
    margin-left: 0;
    font-size: 1em;
    line-height: 1.3;

    @include breakpoint($screen $medium-minor-start) {
      
    }

    @include breakpoint($screen $large-start) {
      margin-bottom: 0;
      margin-left: 0;
      font-size: 1.125em;
      line-height: 1.4;
      font-weight: 400;
    }
  }

  &__date {
    /*display: block;*/
    display: none;
    font-size: .875em;
    color: $font-color-lighter;

    @include breakpoint($screen $medium-minor-start) {
      display: inline-block;
    }
  }

  &__kicker {
    display: block;
    margin-top: 0;
    margin-right: .25em;
    margin-bottom: .5em;
    letter-spacing: .1em;
    font-size: .875em;
    text-transform: uppercase;
    line-height: 1.3;
    font-weight: 400;
    color: $primarycolor;

    @include breakpoint($screen $medium-minor-start) {
      display: inline-block;
      line-height: 1;
    }
  }
      
}



