.icon {
  height: 100px;
  width: 100px;
}

.icon-aoa-mini {
  height: 42.4px;
}

.icon-aoa-mini {

}
.icon-aoa-solid {
  height: 47.4px;
}
.icon-arrow-down {

}
.icon-arrow-left {

}
.icon-arrow-right {

}
.icon-arrow-up {

}
.icon-comment {
  height: 85.4px;

}
.icon-email {

}
.icon-fb {

}
.icon-g-plus {

}
.icon-link {

}
.icon-linked-in {

}
.icon-mag-glass {

}
.icon-pinterest {

}
.icon-twitter {

}
.icon-yt {

}

