%caption-base {
  margin-top: .25em;
  color: $font-color-lighter;
  font-size: 1.125em;
}

.image {

  margin: 0;

  &__img {
    // negative margin the override containing block's padding
    /*margin-left: -($outside-gutter-small);*/
    /*max-width: 106%;*/
    margin: 0 auto;
    width: 100%;
    max-width: 48em;
    height: auto;
    display: block;
  

    @include breakpoint($screen $large-start) {
      max-width: $article-max-width;
    }
  }

  &--primary {

  }

  &__caption {
    @extend %caption-base;

    &--right {
      text-align: right;
    }

    &--left {
      text-align: left;
      @extend %caption-base;
    }

  }



}
