%caption-base {
  margin-top: .25em;
  color: $font-color-lighter;
  font-size: 1.125em;
}

.image {

  margin: 0;

  &__img {
    // negative margin the override containing block's padding
    /*margin-left: -($outside-gutter-small);*/
    /*max-width: 106%;*/
    margin: 0 auto;
    width: 100%;
    max-width: $article-feature-image-max-width;
    height: auto;
    display: block;
  

    @include breakpoint($screen $large-start) {
      max-width: $article-max-width;
    }
  }

  &--primary {

  }

  &__caption {
    @extend %caption-base;
    margin-left: ((100 - $story-width) / 2);
    margin-right: ((100 - $story-width) / 2);
    max-width: $article-max-width;

    @include breakpoint($screen $medium-start) {
      margin-left: ((100 - $story-width-medium) / 2);
      margin-right: ((100 - $story-width-medium) / 2);
    }

    @include breakpoint($screen $large-start) {
      margin-left: auto;
      margin-right: auto;
    }

    &--right {
      text-align: right;
    }

    &--left {
      text-align: left;
      @extend %caption-base;
    }

  }
}
