.media {
  
  float: left;
  width: 100%;

  &--rev {
    float: right;
  }

  &__img {
    margin-right: 1em;
    float: left;
    /*display: block;*/
    max-width: 100%;
    /*height: auto;*/
  }

  &__title {
    padding-top: .5em;
    margin-bottom: 1.5em;
    text-transform: uppercase;
    letter-spacing: .1em;
    border-top: 1px solid $color-primary;
    color: $color-primary;

    @include breakpoint($large-start) {
      font-size: .875em;
      color: $gray;
      border-top: 1px dashed $lightgray;
    }
  }

  &__body {
    color: $gray;
  }
  
  &__head {
    font-weight: normal;
    font-size: 1.125em;
  }

  &__link {
    color: inherit;
  }
}
