.nav-link {

  &__nav {
    position: relative;
    width: 50%;
  
    &--prev {
      float: left;

      &:after {
        position: absolute;
        top: 50%;
        right: 0;
        height: 100%;
        content: '';
        border-right: 1px dashed $mediumgray;
        transform: translateY(-50%);
        
      }
    }

    &--next {
      float: right;
    }
  }

  &__link {
    margin-top: 1.25em;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    display: block;
    font-family: $secondaryfont;
    font-size: 1.125em;
    font-weight: 400;
    text-align: center;
    color: $font-color-lighter;
  }

}
