.pq {
  background: aliceblue;
  @include clearfix();
  float: left;
  position: relative;
  right: span(1 of 7 wide);
  width: span(3 of 7);
  /*margin-right: -#{gutter(7)};*/
  /*margin-right: -4em;*/


  &__body {
    font-family: 'adelle', serif;
    font-weight: bold;
    font-size: 2em;
    text-align: right;
  }

}
