.pq {
  @include clearfix();
  display: none;
  
  @include breakpoint($screen $big-menu-start) {
    display: block;
    float: left;
    position: relative;
    right: span(1 of 7 wide);
    width: span(3 of 7);
    margin-right: -#{span(1 of 7) };
    /*margin-right: -4em;*/

  }


  &__body {
    font-family: $primaryfont;
    font-weight: bold;
    font-size: 2em;
    text-align: center;

    @include breakpoint($screen $large-start) {
      text-align: right;
    }
  }

}
