%prev-next-base {
  padding-top: 0;
  padding-right: 1em;
  padding-bottom: 1em;
  padding-left: 1em;

  display: inline-block;
  width: 100%;
  text-align: center;
  
}

.prev-next {
  position: relative;
  @include clearfix;
  /*@extend %dashed-line-top;*/
  /*@extend %dashed-line-bottom;*/
  
  &__prev {
    @extend %prev-next-base;

    @include breakpoint($screen $medium-start) { 
      float: left;
      width: 50%;

      &:after {
        position: absolute;
        top: 50%;
        right: 50%;
        height: calc(100% - 43px);
        content: '';
        border-right: 1px dashed $mediumgray;
        transform: translateY(-50%);
      }
    }
  }

  &__next {
    @extend %prev-next-base;

    @include breakpoint($screen $medium-start) { 
      float: right;
      width: 50%;

    }
  }

  &__title {
    text-transform: uppercase;
    color: $font-color;
  }

  &__link {
    /*margin-top: 1.25em;*/
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    display: block;
    font-family: $secondaryfont;
    font-size: 1.125em;
    font-weight: 400;
    text-align: center;
    color: $font-color-lighter;
  }
}
