.rover {

  &-don {

    &-parent-a {
      display: block;

      @include breakpoint($screen $large-start) {
        display: none;
      }
    }

    &-parent-b {
      display: none;

      @include breakpoint($screen $large-start) {
        display: block;
      }
    }
  }  

  &-peggy {

    &-parent-a {
      display: block;

      @include breakpoint($screen $large-start) {
        display: none;
      }
    }

    &-parent-b {
      display: none;

      @include breakpoint($screen $large-start) {
        display: block;
      }
    }
  }

}
