.rover {

  &-don {

    &-parent-a {
      display: block;
    }

    &-parent-b {
      display: none;
    }
  }  

  &-peggy {

    &-parent-a {
      display: block;
    }

    &-parent-b {
      display: none;
    }
  }

}
