.nav {

  clear: both;
  transition: all ease-out .3s;
  /*background: $red;*/
  background: rgba(255,255,255,0.8);
    
  .js & {
    overflow: hidden;
    max-height: 0;
  }
  
  &.active {
    max-height: 21em;
  }

  &__list {
    margin: 0;
    padding: 0;
    line-height: 2.5em;
    /*border-top: 1px solid lighten($font-color-primary, 25%);*/
  }


  &__item {
    display: block;
    /*padding: .8em;*/
    border-bottom: 1px solid $lightgray;
    text-align: center;
    /*text-transform: uppercase;*/
    /*letter-spacing: .25em;*/
    
    &--link {
      color: black;
    }
  }

  &__link {
    cursor: pointer;

    &--toggle {
      position: absolute;
      top: .5em;
      left: 1em;
      /*float: left;*/
      /*display: block;*/
      /*padding: 1em;*/
      font-size: 1.5em;
      /*line-height: 0;*/
      color: #fff;
    }
  }

  &__home {

  }

}
