.site-search {

  position: relative;

  &__form {
    width: 100%;
  }

  &__label {

  }

  &__submit {

  }

  &__button {
    border: none;
    background: $lightgray;

    &--hide {
      display: none;
    }
  }

  &__input {
    background-image: image-url('png/glass.png');
    background-position: 0px center;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    position: relative;
    padding-left: 2.75em;
    padding-right: 0;
    border: 0;
    cursor: pointer;
    height: 2em;
    width: 0;
    display: inline-block;
    transition: width 400ms ease, background 400ms ease;

    &:focus {

      width: 10em;
      outline: none;
      border: 2px solid $lightgray;
      cursor: text;

      &[type=text] {
        padding: .5em 0 .5em 2em;
      }
    }
  } 

}
