.banner {
  @include container($gridpage);
  position: relative;
}

.site-branding {
  height: 3em;
  background-color: $color-primary;
  text-transform: uppercase;
  text-align: center;

  @include breakpoint($screen $big-menu-start) {
    padding-bottom: 5em;
    border-bottom: 1px solid $lightgray;
    text-align: left;
    background-color: $white;
  }

  &__link {
    color: #fff;
    @include breakpoint($screen $big-menu-start) {
      color: $color-primary;
      font-size: 3.125em;
      letter-spacing: 0.2em;
    }
  }

  &--alpha {
    position: relative;
    top: 1em;
    letter-spacing: .25em;
    @include breakpoint($screen $big-menu-start) {
    
    }
  }

  &--beta {
    position: relative;
    top: -1em;
    display: none;
    @include breakpoint($screen $big-menu-start) {
      float: right;
      top: -1.3em;
      display: block;

      span {
        font-size: 1.875em;
      }
    }
  }
}
