.last {
  @include last($gridpage);
}

%outside-gutters {
  margin-left:  (gutter($gridpage) * 2);
  margin-right: (gutter($gridpage) * 2);


}

%base-of-3 {
//  margin-left:  (gutter($gridpage) * 2);
//  margin-right: (gutter($gridpage) * 2);
//
//  @include breakpoint($screen $large-start) {
//    margin-left: 0;
//    margin-right: 0;
//  }
}

.size {

  &-1-of-1 {
    @extend %outside-gutters;
    @include span(12 of $gridpage);
  }

  &-1-of-3 {
    @extend %outside-gutters;
    @include breakpoint($screen $large-start) {
      @include span(4 of $gridpage);        
      margin-left: 0;
      margin-right: 0;
    }

    &--last {
      @extend %outside-gutters;

      @include breakpoint($screen $large-start) {
        @include span(4 last of $gridpage);        
        margin-left: 0;
        margin-right: 0;
      }
    }
  }

  &-2-of-3 {
    @extend %outside-gutters;

    @include breakpoint($screen $xlarge-start) {
      @include span(8 of $gridpage);
      margin-left: 0;
      margin-right: 0;
    }

  }

  &-1-of-4 {
    @extend %outside-gutters;
    
    @include breakpoint($screen $large-start) {
      @include span(6 of $gridpage);
    }

    @include breakpoint($screen $xlarge-start) {
      @include span(3 of $gridpage);
      margin-left: 0;
      margin-right: 0;
    }

    &--last {
      @include breakpoint($screen $large-start) {
        @include span(6 last of $gridpage);
      }

      @include breakpoint($screen $xlarge-start) {
        @include span(3 last of $gridpage);
        margin-left: 0;
        margin-right: 0;
      }
      
    }

  }

  &-2-of-4 {
    
  }

  &-3-of-4 {
    @include span(9 of $gridpage);
  }

}
