.last {
  @include last($gridpage);
}

%base-of-3 {
  margin-left:  (gutter($gridpage) * 2);
  margin-right: (gutter($gridpage) * 2);

  @include breakpoint($screen $large-start) {
    margin-left: 0;
    margin-right: 0;
  }
}

.size {

  &-1-of-1 {
    @include span(12 of $gridpage);

  }

  &-1-of-3 {
    @extend %base-of-3;
    @include breakpoint($screen $large-start) {
      @include span(4 of $gridpage);        
    }

    &--last {
      @extend %base-of-3;

      @include breakpoint($screen $large-start) {
        @include span(4 last of $gridpage);        
      }
    }
  }

  &-2-of-3 {
    margin-left:  (gutter($gridpage) * 2);
    margin-right: (gutter($gridpage) * 2);

    @include breakpoint($screen $xlarge-start) {
      margin-left: 0;
      margin-right: 0;
      @include span(8 of $gridpage);
    }

  }

  &-1-of-4 {
    @include span(3 of $gridpage);
  }

  &-2-of-4 {
    @include span(6 of $gridpage);
  }

  &-3-of-4 {
    @include span(9 of $gridpage);
  }

}
