%social-padding {
  padding: 0;
}

.social {

  @extend %social-padding;
  list-style-type: none;
  text-align: center;
  
  &--inline {
    @extend %social-padding;

    li {
      display: inline-block;
    }
  }

  &__icon {

    display: inline-block;

    @include breakpoint($screen $large-minor-start) {
      display: block;
    }
  
    
  }
  
  &__link {
    display: block;
    padding-left: 0.4em;
    padding-right: 0.4em;
  }

  [class^="icon-"], [class*=" icon-"] {
    font-size: 2em;
  }

  [class*='icon-facebook'] {
    color: $facebook;
  }

  [class*='icon-twitter'] {
    color: $twitter;
  }

  [class*='icon-linkedin'] {
    color: $linkedin;
  }

  [class*='icon-gplus'] {
    color: $gplus;
  }

  [class*='icon-pinterest'] {
    color: $pinterest;
  }

  [class*='icon-youtube'] {
    color: $youtube;
  }
}
