.social-pick-red {

  @include clearfix;
  padding: .5em;
  margin-bottom: 4em;
  border-radius: $border-radius;
  background: $primarycolor;
  text-align: left;
  color: $white;

  &:after {
    display: block;
    width: 0;
    content: '';
    position: absolute;
    bottom: -15px;
    left: 50px;
    border-width: 15px 15px 0;
    border-style: solid;
    border-color: $primarycolor;
    
  }

  /*@include breakpoint($screen $large-minor-start) {*/
  @include breakpoint($screen $xlarge-start) {
    padding: 0;
    width: 98%;
    float: right;
    height: 4em;
  }

  &__link {
    color: inherit;
  }

  &__img {
    position: relative;
    /*top: 50px;*/
    top: 0;
    float: left;
    height: 72px;
    margin-right: 11px;
  
    > img {
      border: 1px solid $white;
      border-radius: 50%;
    }


    @include breakpoint($screen $xlarge-start) {
      position: relative;
      top: -.5em;
      float: left;
      margin-right: 1em;
      clip-path: ellipse(50% 50% at 50% 50%);
      /*@extend %clip-path-circle;*/
    }

    /*@include breakpoint($screen $large-minor-start) {*/
    @include breakpoint($screen $xlarge-start) {
      left: -1em
    }

    @include breakpoint($screen $xlarge-start) {
      
      &:before {
        content: '';
        position: absolute;
        width: 104%;
        height: 104%;
        border: 3px solid $mediumgray;
        border-radius: 50%;
        /*background: repeating-linear-gradient(90deg, #ef3f23, #ef3f23 2px, white 4px, white 2px)*/
      }
    }
  }

  &__meta {
    position: relative;
    /*top: -133px;*/
    top: 0;
    left: 0;
    height: 30px;
    margin-bottom: .5em;
    line-height: 1.5;
    /*font-size: 1.875em;*/
    font-size: 1.4em;
    /*border-bottom: 1px solid $white;*/

    @include breakpoint($screen $xlarge-start) {
      position: relative;
      left: -.5em;
      top: 21%;
      float: left; 
      max-width: 39%;
      height: 100%;  
      font-size: 2.5em;
      overflow: hidden;
    }
  }

  &__author {

  }

  &__date {

  }

  &__body {
    color: inherit;
    display: inline;
    border-top: 1px solid $white;
    @include clearfix;

    @include breakpoint($screen $xlarge-start) {
      position: relative;
      top: 50%;
      padding-right: .5em;
      transform: translateY(-50%);
    }
  }

  &__body-text {
    font-size: 1em;
    line-height: 1.37;
    color: inherit;


    @include breakpoint($screen $xlarge-start) {
      font-size: 1em;
      text-align: left;
      line-height: 1.2;
    }
  }

  &__note {
    text-align: left;
    text-transform: uppercase;
    font-size: .875em;
    letter-spacing: 1px;
    font-weight: 200;
    border-top: 1px solid $white;
    color: $white;
    
    [class*='icon-'] {
      color: $white;
    }

    .icon-facebook:before {
      color: inherit
    }

  }
  
  &__icons {
    display: block;
    border-top: 1px solid $white;
    font-size: 2em;
    text-align: right;
  }
}
