.social-pick {

  @include clearfix;
  position: relative;
  top: -1.8125em;
  width: 100%;
  margin: 0 auto 2em auto;
  padding: 5% 3%;
  background: lighten($primarycolor, 43%);
  border-bottom: 1px dashed $primarycolor;
  line-height: 1.4;
  
  &:after {
    content: '@';
    position: absolute;
    top: .2027777778em;
    left: 0;
    width: 100%;
    z-index: 0;
    text-align: center;
    line-height: 0;
    font-size: 22.5em;
    font-weight: 900;
    color: $white;
    
  }
  

  @include breakpoint($screen $large-start) {
    margin: 1em auto 2em auto;
    padding: 0;
    width: 94%;
    background: $white;
    border-bottom: 0;
  }
  
  &__meta {
    @include clearfix;
    position: relative;
    z-index: 1;

    @include breakpoint($screen $large-start) {
      @include span(4 of $gridpage);
      text-align: right;
    }
  }

  &__link {
    color: $primarycolor;
    /*color: inherit;*/
    @include breakpoint($screen $large-start) {
      color: inherit;
    }
  }

  &__date {
    float: right;
    color: $font-color-lighter;  

    @include breakpoint($screen $large-start) {
      float: none;
      line-height: 1.2;
    }
    
    @include breakpoint($screen $large-minor-start) {
      text-transform: uppercase;
      line-height: 2.5;
    }
  }

  &__author {
    float: left;
    font-size: 1.25em;
    color: $primarycolor;
    word-wrap: break-word;

    > a {
      color: inherit;
    }

    @include breakpoint($screen $large-start) {
      float: none;
    }

    @include breakpoint($screen $large-minor-start) {
      font-size: 1.75em;
      line-height: 1.2;
    }
  }

  &__body {
    position: relative;
    z-index: 1;
    margin-top: .5em;
    color: $font-color;
    

    @include breakpoint($screen $large-start) {
      @include span(8 last of $gridpage);
      margin-top: 0;
      top: .25em;
      color: $font-color-lighter;
    }

    @include breakpoint($screen $large-minor-start) {
      top: 0;
    }
  }

  &__body-text {
    line-height: 1.4;
    font-size: 1em;
    color: inherit;

    @include breakpoint($screen $large-minor-start) {
      line-height: 1.2;
      font-size: 1.75em;
      font-weight: 100;
      
    }
  }

}
