.story-nav {
  font-weight: 100;
  line-height: 1.5;
  color: $font-color;

  &__emph {
    font-weight: 600;
  }

  &__standalone {
    margin-bottom: 2em;
  }
  
  &__link {
    text-transform: uppercase;
    color: $font-color;

    &--center {
      display: block;
      text-align: center;
    }
    
    &--right {
      float: right;
      text-align: right;
    }

  }

  &__more {
    text-transform: uppercase;
  }

  &__prev-next {
    @include clearfix;
    margin-top: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
    border-top: 1px dashed $mediumgray;
    border-bottom: 1px dashed $mediumgray;
  }

}
