%dashed-line-top {
  border-top: 1px dashed $mediumgray;
}

%dashed-line-bottom {
  border-bottom: 1px dashed $mediumgray;
}

%story-nav-link {
  color: $font-color;
}

.story-nav {
  position: relative;
  font-weight: 100;
  line-height: 1.5;
  text-transform: uppercase;
  color: $font-color;

  a {
    @extend %story-nav-link; 
  }

  &__emph {
    font-weight: 600;
  }

  &__comments {
    margin-bottom: 2em;
    display: block;
    text-align: center;
  }

  &__more-in {
    padding-top: .625em;
    padding-bottom: .6em;
    /*padding-bottom: .625em;*/
    @extend %dashed-line-top;
    /*@extend %dashed-line-bottom;*/
    text-align: center;

    @include breakpoint($screen $medium-minor-start) {
      position: absolute;
      top: 2.875em;
      right: 0;
      text-align: right;
      border: 0;
    }
  }
  
  &__topics {
    /*text-transform: uppercase;*/
    color: $font-color-lightest;
  }

  &__prev-next {
    @include clearfix;
    padding-top: 2em;
    padding-bottom: 2em;
    @extend %dashed-line-top;
    @extend %dashed-line-bottom;
  }
}
