.story {


  &__kicker {

  }

  &__title {
    font-family: $font-secondary;
    line-height: 1.3;
  }

  &__teaser {

  }

  &__meta {

  }

  
  &__social {

    &--top {

      @include breakpoint($screen $large-start) {
        @include span(1 of 8);
      }
    }

    &--bottom {

    }

  }


  &__body-text {

    @include breakpoint($screen $large-start) {
      @include span(last 7 of 8);
    }
  }

  &__footer {
    @include breakpoint($screen $large-start) {
      @include span(last 7 of 8);
    }

  }


  &__box {
    @include clearfix();
    @include breakpoint($screen $medium-minor-start) {
      margin-left: 1.5em;
      margin-bottom: 1em;
      width: 11.875em;
      float: right;
    }
  }

  &__content {

  }

}
