.super {
  
  position: relative;
  color: $white;

  @include breakpoint($screen $xlarge-start) {
    @include container($gridpage);
  }

  &__image {
    /*@include span(9 of $gridpage);*/
  }

  &__body {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    transform: translateY(-10%);
    float: right;
    padding-top: 1em;
    padding-right: 2em;
    padding-bottom: 1em;
    padding-left: 2em;
    background: rgba(0,0,0,.3);
    color: inherit;
  }

  &__kicker {
    display: inline-block;
    margin-right: .625em;
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    color: $primarycolor;
  }

  &__date {
    font-size: .875em;
    text-transform: uppercase;
    color: $font-color-lightest;
  }

  &__head {
    margin-top: .25em;
    margin-bottom: 0;
    line-height: 1.2;
    font-weight: 400;
    font-size: 2.5em;
    color: inherit;
  }

  &__body-text {
    line-height: 1.3;
    color: inherit;
  }
}
