.top {

  height: 3em;
  background-color: $color-primary;

}

.top-bar {

  /*position: relative;*/
  /*text-align: center;*/
  /*top: .5em;*/

}

.second-bar {
  position: relative;
  top: -2.25em;
  left: 1em;
}

