%list-base {
  list-style-type: none;
}

%list-item-base {
  position: relative;
  padding-bottom: 1em;
  margin-bottom: 1em;
  clear: both;
  font-family: $secondaryfont;
  border-bottom: 1px dashed $mediumgray;
}

%link-base {
  font-weight: 400;
  font-size: 1em;
  line-height: 1.3;
  color: $font-color-lighter;
}

%border-after {
  position: absolute;
  left: 0;
  top: 1.375em;
  content: '';
  width: 100%;
  border-bottom: 3px solid $primarycolor;
}

%title-base {
  position: relative;
  margin-top: 0;
  margin-left: -2em;
  padding-left: 2em;
  padding-bottom: 2em;
  /*line-height: 1.4;*/
  text-transform: uppercase;
  letter-spacing: .05em;
  text-align: center;
  font-weight: 100;
  font-size: 1.125em;
  color: $font-color-lighter;
}

%widget-base {
  @include clearfix;
  position: relative;
}

.widget {
  @extend %widget-base;
  margin-top: 1em;
  margin-left: -1.25em;
  padding-left: 1.25em;

  @include breakpoint($screen $large-start $xlarge-start-minus-1) {
    @include span(4 of 8);

    &:last-child {
      @include span(4 last of 8);
    }
  }

  &--front {
    @extend %widget-base;
    margin-top: 0;
    
  }

  &__list {
    @extend %list-base;
    padding-left: 0;
  }

  &__list--counter {
    @extend %list-base;
    counter-reset: list-counter;
  }

  &__list-item {
    @include clearfix;
    @extend %list-item-base;
  }

  &__list-item--counter {
    @extend %list-item-base;
  
    &:before {
      position: absolute;
      left: -.88em;
      height: 3em;
      top: 50%;
      /*margin-top: -.7708333333em;*/
      margin-top: -.65em;
      content: counter(list-counter);
      counter-increment: list-counter;
      font-size: 3em;
      font-family: $primaryfont;
      font-weight: 200;
      color: $font-color-lighter;
    }
  }

  &--latest {

  }

  &__title {
    @extend %title-base;

    &:after {
      @extend %border-after;
    }

    @include breakpoint($screen $large-start) {
      padding-bottom: 1em;
      font-weight: 600;
      text-align: left;
    }
    
    &--section {
      @extend %title-base;

      &:after {
        @extend %border-after;
      }

      @include breakpoint($screen $large-start) {
        padding-bottom: 2em;
        margin: 0 auto;
        padding-left: 0;
        text-align: left;
        font-weight: 600;
        width: 94%;
      }

      @include breakpoint($screen $xlarge-start) {
        width: 100%;
        
      }
    }

    &--muted {
      display: none;
      float: right;
      font-weight: 400;
      font-size: .875em;
      letter-spacing: 0;
      line-height: 1.4;
      color: $font-color-lightest;

      /*> a {*/
        /*color: inherit;*/
        /*font-size: inherit;*/
      /*}*/

      // style social icons
      span:not([class*='icon-arrow']) {
        margin-left: .5em;
        font-size: 1.5em;
        line-height: 0;
      }
      
      span {
        color: $font-color-lightest;
      }

      @include breakpoint($screen $large-start) {
        display: inline-block;
      }
    }
  }

  &__feature {
    margin-right: 1em;
    float: left;
  }

  &__link {
    @extend %link-base;
  }
  
  &__head {
  
  }
}
