.banner {
  @include container($gridpage);
  position: relative;
}

.xsite-branding {
  padding-bottom: 2em;
  /*height: 3em;*/
  /*background-color: $primarycolor;*/
  text-transform: uppercase;
  /*text-align: center;*/
  border-bottom: 1px solid $lightgray;
  text-align: left;

  &__link {
    /*color: #fff;*/
    color: $primarycolor;
    font-size: 3.125em;
    letter-spacing: 0.2em;
  }

  &--alpha {
    position: relative;
    top: 1em;
  }

  &--beta {
    float: right;
    position: relative;
    top: -1.25em;
  
    span {
      font-size: 1.875em;
    }
  }

}


