// http://css-tricks.com/snippets/html/responsive-meta-tag/
@-ms-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}

.page-wrap {
  position: relative;
}

.container {
  @include container;
}
