
/*
 * COLORS
 */
$verydark: #333;
$white: #fff;
$red: #ef3f23;
$gray: #6b7574;
$mediumgray: #b3b3b3;
$lightgray: #ddd;
$extralightgray: #f5f5f5;
$blue: #077cc2;
$bluegray: #2D4254; // la times
$slategray: #2F404D; // itunes
$bluey: #3484DE; // itunes
$aoa: #1C446C;
$facebook: #3b5999;
$twitter: #5fa9dd;
$gplus: #dc4a38;
$linkedin: #007bb5;
$pinterest: #cb2027;
$youtube: #e12d27;

$primarycolor: $red;
$linkcolor: $blue;

/*
 * TYPOGRAPHY
 */
$primaryfont: 'proxima-nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$secondaryfont: 'adelle', Georgia, serif;

$font-color: $verydark;
$font-color-lighter: #6b7574;
$font-color-lightest: $mediumgray;

$font-size-base: 1.125em;
$normal: 400;
$bold: 600;
$bodylineheight: 1.4;
$bodylineheight-bigger: 1.65;


/*
 * Breakpoint
 */
$all: 'all';
$screen: 'screen';
// $small-start not needed--for quick sizing in chrome dev
$small-start              : 20em;     //  320px
$small-minor-start        : 25.625em; //  410px
$medium-start             : 30em;     //  480px
$medium-minor-start       : 36em;     //  576px
$medium-minor-minor-start : 43em;     //  688px
$large-start              : 48em;     //  768px
$leaderboard-start        : 50.5625em;//  809px
$large-minor-start        : 56em;     //  896px
$xlarge-start             : 64em;     //  1024px
$xxlarge-start            : 90em;     //  1440px

/*
 * Layout
 */
$site-width: 62em;
$outside-gutter-small: .5em;
$outside-gutter-medium: 1.25em;
$outside-gutter-large: 2em;

/*$article-max-width: 45.5em;*/
$article-max-width: 728px;


$story-width: 94%;
$story-width-medium: 90%;

$article-feature-image-max-width: 48em;

$big-menu-start: $leaderboard-start;

/*
 * Special
 */
%clip-path-circle {
  clip-path: ellipse(50% 50% at 50% 50%);
}
