html {
  font-size: 100%;
  line-height: 1;
  text-size-adjust: 100%;
}

body {
  font-family: $primaryfont;
  background-color: $white;
  @include breakpoint($screen $big-menu-start) {
    border-top: 8px solid $primarycolor;
  }
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

article {
  overflow: hidden;
}

p {
  margin-bottom: 1em;
  font-size: 1em;
  line-height: 1.4;
  color: $verydark;
}

h1 {
  font-family: $secondaryfont;
  font-weight: 600;
  color: $verydark;
}

ul {
  /*list-style: none;*/
}

img {
  /*max-width: 100%;*/
  height: auto;
}

