html {
  font-size: 100%;
  line-height: 1;
  text-size-adjust: 100%;
}

body {
  font-family: $font-primary;
  background-color: $white;
  @include breakpoint($screen $big-menu-start) {
    border-top: 8px solid $color-primary;
  }
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

p {
  margin-bottom: 1em;
  font-size: 1em;
  line-height: 1.4;
  color: $verydark;
}

ul {
  /*list-style: none;*/
}

img {
  /*max-width: 100%;*/
  height: auto;
}

